

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    height: 72px;
    padding: 0 8px;
    margin: 0 auto;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 16px;
    font-weight: 500;
}